#editArtPageContainer {
    min-height: 70vh;
    margin-top: 1.5rem;
}

#mainTitleTop {
    font-size: 2rem;
    text-align: center;
}

.inputCards {
    display: flex;
    flex-direction: column;
}

