#createNftPageContainer {
    min-height: 70vh;
    margin-bottom: 1.5rem;
}

#profileInfoTitle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.inputAreaRow {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#mainImgModalBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainImgModalPreview {
    width: 80%;
}

#mainImgThumbnailPreview {
    width: 45%;
}

.mainTitleOfSection {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.rdwEditorMain {
    border: 1px solid #F1F1F1;
    padding: 10px;
}

.rdwToolbarMain {
    background: #f9f9f9;
}