.inputCard {
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.sectionTitle {
    font-size: 1.4rem;
    margin-top: .5rem;
    margin-bottom: 2rem;  
    text-align: center;  
}

.sectionSubTitle {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#clearDocsBtn {
    margin-left: 1rem;
}


.deleteMediaBtn {
    margin-left: 1rem;
}

.imageListUl {
    list-style-type: none;
    margin-bottom: 5rem;
}

.imageListLi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.imageListLi img {
    width: 120px;
}

.imageListLi p {
    margin: 0px;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

.imageListLi p a {
    color: red;
}